/*###main App*/
.control-fab {
    position: fixed !important;
    top: 6px;
    right: 6px;
    scale: 0.8;
    background-color: var(--accent-color) !important;
}

/*### short cuts layout*/
.shortCutsGrid {
    gap: 1rem;
    width: 80%;
    max-width: 80%;
    height: 70%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-columns: repeat(8, minmax(128px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
    grid-template-rows: repeat(2, 180px);
}
.shortCutsGrid .shortCut {

}