@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #171717;
    --secondary-color: #444444;
    --accent-color: #DA0037;
    --font-color: #EDEDED;
}
* {
    margin: 0;
    padding: 0;
    color: var(--font-color);
}

.bg-prim {
    background-color: var(--primary-color);
}
.bg-sec {
    background-color: var(--secondary-color);
}
.bg-acc {
    background-color: var(--accent-color);
}
.text-acc {
    color: var(--accent-color);
}
.text {
    color: var(--font-color);
}

