.card {
    position: relative;
    z-index: 100;
}
.card .backgroundLines {
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    fill: transparent;
    stroke-width: 8px;
    top: -4px;
    left: -4px;
    z-index: -1;
    stroke-dasharray: 0, 9999;
    transition: 750ms;
    border-radius: 5px;
}
.card:hover .backgroundLines {
    stroke-linecap: round;
    stroke-dasharray: 400, 9999;
}
.backIcon {
    transform: scaleX(-1);
}
.disabled {
    pointer-events:fill;
}